{% extends "layout.html" %}

{% block title %}
Bibtex app
{% endblock %}

{% block body %}

<h2>Bibtex app</h2>

<form action="/create_bibtex" method="post">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <label for="label">Create a dummy article with unique name</label>
  <input type="text" name="label">
  <button type="submit">
    Create
  </button>
</form>

<ul>
  {% if bibtexs == [] %}
    <div>
      You don't have references yet.
    </div>
  {% else %}
    {% for bibtex in bibtexs %}
      <li style="display: flex">
        <div>
          {{ bibtex.label}}  ({{ bibtex.type }})
          {% if bibtex.data %}
            {% for k, v in bibtex.data.items() %}
              <li>{{ k }}: {{ v }}</li>
            {% endfor %}
          {% endif %}
        </div>
      </li>
    {% endfor %}
  {% endif %}
</ul>

{% endblock %}