{% extends "layout.html" %}

{% block title %}
Bibtex app
{% endblock %}

{% block body %}

<h2>Bibtex app</h2>

<ul>
  {% if bibtexs == [] %}
    <div>
      You don't have references yet.
    </div>
  {% endif %}
  <ul class="bibtex-list">
    {% for bibtex in bibtexs %}
      <li class="bibtex-item">
        <div class="bibtex-header">
          <span class="bibtex-label">{{ bibtex.label }}</span>
          <span class="bibtex-type">({{ bibtex.type }})</span>
        </div>
        {% if bibtex.data %}
        <ul class="bibtex-details">
          {% for k, v in bibtex.data.items() %}
          <li class="bibtex-detail">{{ k }}: {{ v }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        <form action="/delete_bibtex" method="post" style="margin-left: 10px;">
          <input type="hidden" name="bibtex_id" value="{{ bibtex.id }}">
          <button type="submit">Delete</button>
        </form>
  
      </li>
    {% endfor %}
  </ul>
    <a href="/create">Create new reference</a>

{% endblock %}